---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# The Home page uses this template–it extends the base template #}

<header class="introduction-block">
  <h1 class="introduction-block__name">{{ title }}</h1>
  <div aria-hidden="true" class="introduction-block__photo"></div>
  <span class="introduction-block__content">{{ content | safe }}</span>
</header>

{# After the the content defined in index.md, list the blog posts in the collection #}
<ul class="post-list">
  {%- for post in collections.posts -%}
    <li{% if page.url == post.url %} aria-current="page"{% endif %} class="post-list__item">
      <a class="wrapper" href="{{ post.url }}">
        <span class="post-list__item-title">
          {{ post.data.title }}
        </span>
        <span class="post-list__item-description">
          {{ post.data.description }}
        </span>
        <time class="post-list__item-date" datetime="{{ post.data.page.date | htmlDateString }}">{{ post.data.page.date | humanDateString }}</time>
      </a>
    </li>
  {%- endfor -%}
</ul>


